<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homelybites">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Homelybites.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".activities.CustomerLoginActivity" android:exported="false" />
        <activity android:name=".activities.CookLoginActivity" android:exported="false" />
        <activity android:name=".activities.ForgotPasswordActivity" android:exported="false" />

        <!-- Customer Flow -->
        <activity android:name=".activities.CustomerHomeActivity" android:exported="false" />
        <activity android:name=".activities.KitchenDetailActivity" android:exported="false" />
        <activity android:name=".activities.OrderSummaryActivity" android:exported="false" />
        <activity android:name=".activities.RatingActivity" android:exported="false" />
        <activity android:name=".activities.CartActivity" android:exported="false" />

        <!-- Cook Flow -->
        <activity android:name=".activities.CookDashboardActivity" android:exported="false" />
        <activity android:name=".activities.AddDishActivity" android:exported="false" />
        <activity android:name=".activities.OrderHistoryActivity" android:exported="false" />
        <activity android:name=".activities.ReliabilityScoreActivity" android:exported="false" />

        <!-- Profile / Utility -->
        <activity android:name=".activities.BecomeCookActivity" android:exported="false" />
        <activity android:name=".activities.HelpCenterActivity" android:exported="false" />
        <activity android:name=".activities.ChangeAddressActivity" android:exported="false" />

        <!-- Keep original MainActivity for reference -->
        <activity android:name=".MainActivity" android:exported="false" />

    </application>

</manifest>